<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>BLOG NINJA</h1></a>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="aboutVontent">
      <h2>CONTACT MEEE PAGEE</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil soluta
        corporis fuga est sit dolorum in ipsum provident dolore at, sed magnam
        quibusdam unde expedita recusandae laudantium modi blanditiis eum?
      </p>
    </div>
  </body>
</html>
